.inputOption {
  display: flex;
  gap: 0.375rem;
  align-items: center;
  margin-right: 0.75rem;
  margin-bottom: 0.625rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: gray;

  &:hover {
    background-color: whitesmoke;
    color: black;
  }
}
