.feed {
  flex: 0.6;
  margin: 0 20px;

  &__inputContainer {
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.08);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
  }

  &__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
  }

  form {
    display: flex;
    width: 100%;
  }
  form input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 600;
  }

  form button {
    display: none;
  }

  &__inputOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 8px;
    flex-wrap: wrap;
  }
}