button.btn-primary {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  height: 3rem;
  width: 100%;
  border-radius: 1.5rem;
  color: white;
  background-color: var(--primary);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.75rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
  &:hover {
    background-color: #0a4e93;
  }

  &.busy {
    cursor: no-drop;
    background-color: var(--primary);
  }

  .loader {
    border: 3px solid transparent;
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 0.7s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
