.input {
  display: flex;
  flex-direction: column;
  label {
    color: black;
    opacity: 0.8;
    padding: 0.25rem 0;
    font-size: 0.875rem;
  }
  input {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
    padding: 0.625rem 0.75rem;
  }
}
