.login__form {
  max-width: 52.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 3rem 1rem;
    font-weight: 400;
    font-size: 2.2rem;
  }

  &__container {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 32px;
    display: flex;
    flex-direction: column;
    min-width: 25rem;

    p {
      text-align: center;
      margin-top: 1.5rem;
      font-weight: 400;
      span {
        color: var(--primary);
        cursor: pointer;
        font-weight: bolder;
      }
      span:hover {
        text-decoration: underline;
      }
    }
  }
}
