.loading {
  min-height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-100);

  img {
    margin-top: 10%;
    height: 3rem;
  }

  &__loader {
    width: 8.25rem;
    height: 2px;
    margin: 1.5rem auto;
    border-radius: 2px;
    background-color: var(--background-200);
    position: relative;
    overflow: hidden;
  }

  &__bluebar {
    height: 100%;
    width: 4.25rem;
    position: absolute;
    transform: translate(-2rem);
    background-color: var(--primary);
    border-radius: 2px;
    animation: initial-loading 1.5s ease infinite;
  }
}

@keyframes initial-loading {
  0% {
    transform: translate(-2rem);
  }
  50% {
    transform: translate(6rem);
  }
  to {
    transform: translate(-2rem);
  }
}
