.widgets {
	position: sticky;
	top: 80px;
	flex: 0.2;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	background-color: #fff;
	padding: 12px;
	max-width: 280px;
	min-width: 240px;
	height: fit-content;

	h3 {
		font-size: 15px;
		margin-bottom: 12px;
	}
}
