.header {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  background-color: #fff;
  padding: 10px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;


  &__left {
    display: flex;

    img {
      object-fit: contain;
      height: 40px;
      margin-right: 10px;
    }

    .header__search{
      padding: 10px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      color: gray;
      background-color: #eef3f8;

      input {
        outline: none;
        border: none;
        background: none;
        min-width: 224px;
      }
    }
  }

  &__right {
    display: flex;
  }
}